.h2{
    text-align: center;
}
.nav{
    display: flex;
    flex-direction: column;
}
div > ul > li{
    margin-bottom: 5px;
}
.araf{
    background-color: rgb(240, 215, 167);
    font-size: 20px;
}
.img{
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
}
.btn{
    width: 100px;
    height: 40px;
    color: rgb(255, 253, 253);
    margin-left: 100px;
    /* margin-bottom: 15px; */
    background-color: rgba(0, 0, 0, 0.605);
    border: none;
    border-radius: 5px;
    text-decoration-line: none;
}
@media screen (max-width: 576px){
    body
}